# Flutter
build/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies

# IDE
.idea/
.vscode/

# Android
android/.gradle/
android/.kotlin/

# Linux/MacOS generated
linux/flutter/ephemeral/
macos/Flutter/ephemeral/

# Reports
android/build/